[submodule "cwalk"]
	path = lib/cwalk
	url = https://github.com/likle/cwalk.git
[submodule "whereami"]
	path = lib/whereami
	url = https://github.com/gpakosz/whereami.git
[submodule "volk"]
	path = lib/volk
	url = https://github.com/zeux/volk.git
[submodule "Vulkan-Headers"]
	path = lib/Vulkan-Headers
	url = https://github.com/KhronosGroup/Vulkan-Headers.git
[submodule "Vulkan-Utility-Libraries"]
	path = lib/Vulkan-Utility-Libraries
	url = https://github.com/KhronosGroup/Vulkan-Utility-Libraries.git
